.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
  border: 1px solid #242222;
  border-radius: 10px;
  padding: 20px 10px;
}

.errorMessage {
  color: red;
  font-size: 10px;
}
